<div class="contents row routine_index">
  <table border cellpadding="4 8" class="index_table">
    <tr>
      <th class="cell">Select</th>
      <th class="cell">Edit</th>
      <th class="cell">Name</th>
      <th class="cell">Description</th>
      <th class="cell">Time & Period</th>
    </tr>
    <% @routines.each do |routine| %>
      <%= render partial: "routine", locals: { routine: routine } %>
    <% end %>
  </table>
</div>