<div class="contents row">
  <div class="container">
    <h3><%= @routine.name %></h3>
    <p><%= @routine.description %></p>
  </div>
  <div class="container">
    <h3>Check Lists</h3>
    <ul>
      <li><input type="checkbox">
      お見積もり</li>
      <li><input type="checkbox">
      お見積もり</li>
      <li><input type="checkbox">
      お見積もり</li>
      <li><a class="btn">Add New</a></li>
    </ul>
  </div>
</div>