<div class="contents row">
  <div class="container">
    <h3>Edit time & period</h3>
    <%= form_with(url: routine_routine_user_path(params[:routine_id]), model: @routine_user, local: true) do |form| %>
      <%= render partial: 'form', locals: { form: form } %>
    <% end %>
  </div>
</div>